@import "tailwindcss";
@plugin "@digital-go-jp/tailwind-theme-plugin";
@import "@digital-go-jp/design-tokens/dist/tokens.css";

@theme inline {
  --font-sans: var(--font-noto-sans-jp), "Noto Sans JP", -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
